/*body {
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
    flex-direction: column;
}*/

* {
    padding:0;
    margin:0;
    box-sizing: border-box
}

body {
    background: #F2F3F5;
    font-family: sans-serif;
    
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    height: 90%;
    max-height: 900px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
    padding-bottom: 60px;
    position: relative;
}


header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(12, 111, 150) ;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    
}

#titulo {
    font-size: 60px;
    color: blanchedalmond;
    text-shadow: -2px 0px 4px black;
}

h2 {
    font-size: 25px;
    font-weight: 550;

}
h3 {
    font-size: 25px;
    font-weight: 550;

}
.boton {
    color: white;
    background-color: rgba(252, 142, 39, 0.952);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: -3px 1px 8px black;
    cursor: pointer;
    border:none;
}




/*----------------Formulario--------------*/
.formulario {
    width: 100%;
    max-width: 1500px;
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -3px 2px 8px 2px #7d8994;

    /*margin: auto;*/
    /*align-items:center;*/
    
}
.formulario label{
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.formulario input,
.formulario select {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 8px;
}

.formulario input:hover,
.formulario select:hover {
    border: 2px solid #93BDED;
}

.formulario input:focus,
.formulario select:focus {
    outline: rgb (4,4,4);
}

.formulario input{
    margin-bottom: 10px;
}

.formulario .flexbox {
    display: flex;
    justify-content:space-between;
}
.formulario .expira {
    width: 100%;
}
.formulario .grupo-select {
    width: 100%;
    margin-right: 15px;

}


.validar {
    font-size: 30px;
    font-weight: 400;
    background: rgb(250, 248, 248);
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow:-3px 1px 8px 1px  #7d8994;
}

.pcomprar {
    font-size: 20px;
}

.gracias {
    font-size: 30px;
    font-weight: 600;
}

.vuelve {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color:  rgb(12, 111, 150) ;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.ocultar {
    display: none;
}
